.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 8px 3px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.business-name {
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-style: italic;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
}
