:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
}

a {
  font-weight: 500;
  color: none;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
}

.app {
  width: 90%;
  margin: auto;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}
